version: '3.9'

services:
  postgres:
    image: 'postgres:latest'
    ports:
      - '15432:5432'
    environment:
      POSTGRES_PASSWORD: 'password'
    volumes:
      - 'postgres_data:/data/db'

volumes:
  postgres_data:
    name: 'frogbot_mariadb'