name: CI Build

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  push:
    branches: [main]

jobs:
  build:
    name: CI Build
    runs-on: ubuntu-latest
    env:
      CONTAINER_REPO: ghcr.io
      IMAGE_NAME: danjesensky/frogbot

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'

      - name: Install gitversion
        uses: gittools/actions/gitversion/setup@v0.9.11
        with:
          versionSpec: '5.x'

      - name: Invoke gitversion
        id: gitversion
        uses: gittools/actions/gitversion/execute@v0.9.11

      - name: Restore tools
        run: dotnet tool restore

      - name: Restore packages
        run: dotnet restore

      - name: Start SonarScanner
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: dotnet sonarscanner begin /k:"DanJesensky_FrogBot" /o:"danjesensky" /d:sonar.login="${{ secrets.SONAR_TOKEN }}" /d:sonar.host.url="https://sonarcloud.io"

      - name: Build
        run: dotnet build --no-restore -c release /p:Version=${{ steps.gitversion.outputs.semVer }}

      - name: Test
        run: dotnet test --no-build -c release --collect "XPlat Code Coverage" --results-directory=".tests/"

      - name: End SonarScanner
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: dotnet sonarscanner end /d:sonar.login="${{ secrets.SONAR_TOKEN }}"

      - name: Publish
        run: dotnet publish --no-restore -o .artifacts/ -c release /p:Version=${{ steps.gitversion.outputs.semVer }}

      - name: Build docker image
        run: |
          docker build . \
            -t "${{ env.CONTAINER_REPO }}/${{ env.IMAGE_NAME }}:latest" \
            -t "${{ env.CONTAINER_REPO }}/${{ env.IMAGE_NAME }}:${{ steps.gitversion.outputs.semVer }}"